<hr>
<footer class="info">
  <p>
  <a href="{{ base.url }}/about/">Tate Johnson</a> is a 26 year old <a href="/projects/">software developer</a> living in Sydney, Australia. You can follow me on <a href="http://twitter.com/tatejohnson/">Twitter</a>, fork my code on <a href="http://github.com/tatey">GitHub</a>, spectate my shots on <a href="http://dribbble.com/tatejohnson">Dribbble</a> explore my photos on <a href="http://flickr.com/tatejohnson/">Flickr</a>, hear what I listen to on <a href="http://last.fm/user/Tatey/">Last.fm</a> or subscribe to my blog's <a href="http://feeds2.feedburner.com/tatejohnson">Atom feed</a>.
  </p>
</footer>
