<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>{{ page.title }} &ndash; Tate Johnson</title>

    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="all" />
    <!--[if gte IE 6]>
      <link rel="stylesheet" href="/stylesheets/screen_ie.css" type="text/css" media="all" />
    <![endif]-->
    <link href="http://feeds2.feedburner.com/tatejohnson" rel="alternate" title="Tate Johnson" type="application/atom+xml" />
    <link href='/images/layout/favicon.ico' rel='shortcut icon' type='image/ico' />
  </head>

  <body>
    <div id="header">
      <h1><a href="/">tatey<span>dot</span>com</a></h1>

      <ul id="navigation">
        <li class="first"><a href="/">Blog</a></li>
        <li class="last"><a href="/about.html">About</a></li>
      </ul>
	
      <div id="lime">
      </div>
	
      <div class="clear_both">
      </div>
    </div>

    {{ content }}

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try
      {
        var pageTracker = _gat._getTracker("UA-8340632-1");
        pageTracker._trackPageview();
      } 
      catch(err)
      {
      }
    </script>
  </body>
</html>