<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="/stylesheets/default.css?9" rel="stylesheet" type="text/css">
    <link href="/stylesheets/highlight.css?9" rel="stylesheet" type="text/css">
    <link href="http://feeds2.feedburner.com/tatejohnson" rel="alternate" title="Tate Johnson" type="application/atom+xml">
    <link href='/images/favicon.ico' rel='shortcut icon' type='image/ico'>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8340632-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1><a href="{{ base.url }}/">tatey<span>.</span>com</a></h1>
    <nav>
      <ul>
        <li><a href="{{ base.url }}/">Blog</a></li>
        <li><a href="{{ base.url }}/projects/">Projects</a></li>
        <li><a href="{{ base.url }}/about/">About</a></li>
      </ul>
    </nav>
    {{ content }}
  </body>
</html>
