---
layout: default
---

<article>
  <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%d %b, %Y" }}</time>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>
<hr>
<div id="paginator">
  {% if page.previous %}
    <a id="left" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Older</a>
  {% endif %}
  <form action="http://www.google.com/cse" method="get">
    <fieldset>
      <input type="hidden" name="cx" value="011449214013281158279:ie-gceh3d90" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="search" name="q" size="31" />
      <input type="submit" name="sa" value="Search" />
    </fieldset>
  </form>
  {% if page.next %}
    <a id="right" href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a>
  {% endif %}
</div>
{% include footer.html %}
